<!-- FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                <h5>ABOUT THE RIGHT HAND</h5>
                <p>도로명 : 서울특별시 강남구 도산대로 4길 14-8 2/3층 투도스</p>
                <p>지번 : 서울특별시 강남구 논현동 1608 2/3층 투도스</p>
                <p>
                    <span> <span class="text-primary">T</span> 070 - 4800 - 6111</span>
                    <span> <span class="text-primary">F</span> 0303 - 3444 - 0471</span>
                    <span> <span class="text-primary">E</span> hello@todos.co.kr</span>
                </p>
            </div>
            <div class="col-sm-6 col-md-offset-5 col-md-2">
                <h5>CONNECT</h5>
                <div class="social-icons">
                    <a href="https://www.facebook.com/todoscorp">
                        <img th:src="@{../images/fb-icon.png}" src="/images/fb-icon.png" alt="social"></a>
                    <a href="https://blog.naver.com/todoskr">
                        <img th:src="@{../images/in-icon.png}" src="/images/in-icon.png" alt="social"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p class="text-center">Copyright © 2018 Todos all rights reserved</p>
        </div>
    </div>
</footer>
<!-- /// END FOOTER ///-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{../js/jquery.js}"></script>
<script th:src="@{../js/bootstrap.min.js}"></script>
<script th:src="@{../js/owl.carousel.min.js}"></script>
<script th:src="@{../js/ketchup.all.js}"></script>
<script th:src="@{../js/fancybox.js}"></script>
<script th:src="@{../js/script.js}"></script>

<!--Ajax-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<!--로그인 스크립트-->
<script>
    /*로그인 성공 여부 확인*/
    var loginOk = false;

    /*비동기 로그인 기능*/
    function login() {
        $.ajax({
            type: 'POST',
            url: "http://localhost:8080/api/login",
            async: false,
            data: {
                userId: $('#user_login_email').val(),
                userPwd: $('#user_login_pw').val()
            },
            success: function (data) {
                alert(data.toString());
                loginOk = true;
                $('#submitBtn').attr('data-dismiss', 'modal');
                login_user();
                return true;
            },
            error: function () {
                loginOk = false;
                alert("id 또는 password 가 틀렸습니다.");
                return false;
            }
        });
        return loginOk;
    };


    function login_user() {
        $('#login_li').remove();
            $('#register_li').remove();
        $('#navbar').append('<li class="dropdown"><a href="#none" class="dropdown-toggle" data-toggle="dropdown">MyPage <span class="caret"></span></a>  ' +
            '<ul class="dropdown-menu dropdown-menu-left" role="menu">\n' +
            '<li><a href="image-gallery.html">회원정보</a></li>\n' +
            '<li><a href="image-gallery.html">회원정보수정</a></li>\n' +
            '<li><a href="image-gallery.html">토큰내역</a></li>\n' +
            '<li><a href="image-gallery.html">활동내역</a></li>\n' +
            '<li class="divider"></li>\n' +
            '<li><a href="javascript:logout();">LogOut</a></li>\n' +
            '</ul></li>');
    }

    function logout() {
        $.ajax({
            type: 'GET',
            url: "/api/logout",
            success: function (data) {
                alert("logout 되었습니다.");
                location.reload();
            },
            error: function () {
            }
        });
    }
</script>




