<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<!--thymeleaf added-->

<head>
    <init th:replace="fragment/head"/>
    <title>Hoi</title>
</head>
<body>

<!--Register Modal-->
<RegisterModal th:replace="fragment/registerModal"/>
<!--LoginModal-->
<LoginModal th:replace="fragment/loginModal"/>
<!-- Navigation Bar -->
<NavigationBar th:replace="fragment/navbar"/>

<!--SUBPAGE HEAD-->
<div class="subpage-head has-margin-bottom">
    <div class="container">
        <h3 id="page_title"></h3>
        <p id="page_info" class="lead"></p>
    </div>
</div>
<!--///SUBPAGE HEAD///-->

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

            <h4 style="margin-bottom:3px" id="board_title"></h4>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="vertical-align:middle">
            <div class="pull-right">
                <div>
                    <a class="pull-left" href="#none" style="margin-right:5px">
                        <img class="media-object" alt="avatar" src="https://via.placeholder.com/128">
                    </a>
                    <div class="media-body"><h6 class="media-heading"><a class="link-reverse" href="#none"
                                                                         id="nick_name"></a>
                    </h6>
                        <p class="text-muted" id="board_date"></p></div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-9 has-margin-bottom">
            <hr>
            <div id="viewerSection" style="min-height: 450px;"></div>

            <!--Reply-->

            <hr>
            <section class="comments-block">
                <h4 id="reply_count"></h4>
                <div id="reply_list">
                </div>
            </section>
            <!--///END Reply///-->


            <section class="post-comment-form">
                <div class="row">
                    <hr>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <h4>댓글을 작성해 주세요</h4>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class=" form-inline">
                            <input class="form-control pull-right input-sm " id="coin" type=number min=0 step=0.001
                                   max="10"
                                   placeholder="코인" size="5">
                        </div>
                    </div>
                </div>
                <form class="form" role="form">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <textarea cols="8" rows="4" class="form-control input-lg"
                                      placeholder="Your comment" id="reply_content"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pull-right">
                            <a class="btn btn-primary" href="javascript:send_reply()">댓글작성</a>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

<!--footer-->
<footer th:replace="fragment/footer"/>
<script th:replace="fragment/commonScript"/>
<script th:src="@{../js/page/boardContent.js}"></script>

</body>
</html>