<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<!--thymeleaf added-->

<head>
    <init th:replace="fragment/head"/>
    <title>Hoi</title>
</head>
<body>

<navbar th:replace="fragment/navbar"/>

<!--SUBPAGE HEAD-->
<div class="subpage-head has-margin-bottom">
    <div class="container">
        <h3 id="board_title"></h3>
        <span id="board_date"></span>&nbsp;&nbsp;<a href="#" class="link-reverse" id="nick_name"></a>
    </div>
</div>
<!-- // END SUBPAGE HEAD -->

<div class="container">
    <div class="row">
        <div class="col-md-9 has-margin-bottom">

            <div id="viewerSection"></div>

            <!--Reply-->

            <section class="comments-block">
                <h3 class="comments-head" id="reply_count"></h3>
                <div id="reply_list">

                </div>

            </section>
            <!--///END Reply///-->


            <section class="post-comment-form">
                <h3 class="comments-head">Add your comment</h3>
                <form class="form" role="form">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <textarea cols="8" rows="4" class="form-control input-lg"
                                      placeholder="Your comment"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">댓글작성</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>

<!--footer-->
<footer th:replace="fragment/footer"/>
<script th:replace="fragment/commonScript"/>

<script>

    // 요청 주소 뒤에 get 파라미터를 매핑한다.
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    // 기본은 dev 게시판
    var type = getParameterByName('type') != null ? getParameterByName('type') : 'dev';


    // 게시글 번호
    var board_seq = getParameterByName('boardSeq');

    $(document).ready(function () {

        var board_title;
        var board_info;

        switch (type) {
            case 'dev':
                $('#dev_story_nav').attr('class', 'active');
                break;
            case 'tech':
                $('#it_story_nav').attr('class', 'active');
                break;
        }


        view_detail();

    });

    <!--Editor-->

    function view_detail() {
        $.ajax({
            type: 'GET',
            url: "http://localhost:8080/board/detail/" + type + "?boardSeq=" + board_seq,
            dataType: 'json',
            success: function (result) {

                // 로그인 여부와 종류를 확인한다.
                var login_authority = result.data.authority;

                switch (login_authority) {
                    case 1:
                        login_user();
                        break;
                    default :
                }

                var data = result.data;
                var board_detail = data.boardDetailData;
                var board_content = board_detail.BOARD_CONTENT;
                var board_title = board_detail.BOARD_TITLE;
                var nick_name = board_detail.NICK_NAME;
                var board_date = board_detail.BOARD_DATE.substr(0, 10);

                $('#board_title').text(board_title);
                $('#board_date').text(board_date);
                $('#nick_name').text(nick_name);

                /*reply*/
                var reply_list = data.replyDetailData;
                $('#reply_count').text(reply_list.length + " 개의 댓글");
                view_reply(reply_list);

            }, error: function () {
                //    TODO : 에러 페이지 제작해야 함
            }
        });
    }

    var reply_index = 0;

    function view_reply(reply_list) {

        for (var temp = reply_index; temp < reply_list.length; temp++) {
            var reply_content = reply_list[temp].REPLY_CONTENT;
            var reply_date = reply_list[temp].REPLY_DATE;
            var reply_nickName = reply_list[temp].NICK_NAME;

            $('#reply_list').append('<div class="media"><a class="pull-left" href="#">' +
                ' <img class="media-object" alt="avatar" src="images/avatar-1.jpg"> </a>' +
                '<div class="media-body"><h6 class="media-heading">' + reply_nickName + '</h6>' +
                ' <p class="text-muted" id="reply_date">' + reply_date.substr(0, 10) + '</p>' +
                reply_content + '  </div>'
            );

        }
    }


    /*editor*/

    var content = [
        '![image](https://cloud.githubusercontent.com/assets/389021/16107646/9729e556-33d8-11e6-933f-5b09fa3a53bb.png)',
        '# Heading 1',
        '## Heading 2',
        '### Heading 3',
        '#### Heading 4',
        '##### Heading 5',
        '###### Heading 6',
        '    code block',
        '```js',
        'console.log("fenced code block");',
        '```',
        '<pre>**HTML block**</pre>',
        '* list',
        '    * list indented',
        '1. ordered',
        '2. list',
        '    1. ordered list',
        '    2. indented',
        '',
        '- [ ] task',
        '- [x] list completed',
        '',
        '[link](https://nhnent.github.io/tui.editor/)',
        '> block quote',
        '---',
        'horizontal line',
        '***',
        '`code`, *italic*, **bold**, ~~strikethrough~~, <span style="color:#e11d21">Red color</span>',
        '|table|head|',
        '|---|---|',
        '|table|body|'
    ].join('\n');

    var editor = new tui.Editor.factory({
        el: document.querySelector('#viewerSection'),
        initialEditType: 'wysiwyg',
        previewStyle: 'vertical',
        viewer: true,
        height: '400px',
        hideModeSwitch: true,
        initialValue: content
    });

    function submit_text() {
        alert(editor.getValue());
        $('#result').text(editor.getValue());
    };

    function send_reply() {
        $.ajax({
            type: 'GET',
            url: "http://localhost:8080/board/detail/" + type + "?boardSeq=" + board_seq,
            dataType: 'json',
            success: function (result) {


                var data = result.data;
                var board_detail = data.boardDetailData;
                var board_content = board_detail.BOARD_CONTENT;
                var board_title = board_detail.BOARD_TITLE;
                var nick_name = board_detail.NICK_NAME;
                var board_date = board_detail.BOARD_DATE.substr(0, 10);

                $('#board_title').text(board_title);
                $('#board_date').text(board_date);
                $('#nick_name').text(nick_name);

                /*reply*/
                var reply_list = data.replyDetailData;
                $('#reply_count').text(reply_list.length + " 개의 댓글");
                view_reply(reply_list);

            }, error: function () {
                //    TODO : 에러 페이지 제작해야 함
            }
        });
    }


</script>

</body>
</html>