<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<!--thymeleaf added-->

<head>
    <init th:replace="fragment/head"/>
    <title>Hoi</title>
</head>

<body>


<!-- Navigation Bar -->
<navbar th:replace="fragment/navbar"/>

<!-- BANNER SLIDER-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item slide-one active">
            <div class="container">
                <img th:src="@{../images/arrows.png}" src="images/arrows.png">
                <div class="carousel-caption">
                    <h2>Hello Developers!</h2>
                    <p class="lead">Right Hand는 개발자들을 위한 공간입니다. <br>최신 기술, IT 제품 리뷰등의 다양한 소식을 놓치지 마세요</p>
                </div>
            </div>
        </div>
        <div class="item slide-two">
            <div class="container">
                <div class="carousel-caption">
                    <h2>의견에 가치를 더하세요</h2>
                    <p class="lead">작성한 모든 글들은 열람한 사람들의 의해 정당한 보상을 받을 수 있습니다.</p>
                </div>
            </div>
        </div>
        <div class="item slide-three">
            <div class="container">
                <div class="carousel-caption">
                    <h2>혼자 고민하지 마세요</h2>
                    <p class="lead">무엇이든 어떤 것이든 질문해보세요!<br>당신이 원하는 해답을 찾을 수 있을겁니다.</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <i class="glyphicon glyphicon-chevron-left"></i></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <i class="glyphicon glyphicon-chevron-right"></i></a>
</div>
<!-- ///END Banner Slider/// -->
<Br/>
<!--/// Board LIST /// -->
<div class="container has-margin-bottom">
    <div class="row">
        <div class="col-md-12 has-margin-bottom">
            <div class="section-title left-align-desktop">
                <h4> 최신글 </h4>
            </div>
            <!--Blog list-->
            <div class="row has-margin-bottom">
                <div class="col-md-4 col-sm-4">
                    <img class="img-responsive center-block" th:src="@{../images/blog-thumb-1.jpg}" alt="bulletin blog">
                </div>
                <div class="col-md-8 col-sm-8 bulletin">
                    <a href="blog-single.html"><h4 class="media-heading">java와 javscript의 차이 및 역사 </h4></a>
                    <p>2018-10-15 <a href="#" class="link-reverse">Danny Lee</a></p>
                    <p> 선거에 있어서 최고득표자가 2인 이상인 때에는 국회의 재적의원 과반수가 출석한 공개회의에서 다수표를 얻은 자를 당선자로 한다. 모든 국민은 주거의 자유를 침해받지 아니한다.
                        주거에 대한 압수나 수색을 할 때에는 검사의 신청에 의하여 법관이 발부한 영장을 제시하여야 한다. 대한민국은 통일을 지향하며, 자유민주적 기본질서에 입각한 평화적 통일
                        정책을 수립하고 이를 추진한다. ...</p>
                </div>
            </div>
            <!--Board list-->
            <div class="row has-margin-bottom">
                <div class="col-md-4 col-sm-4">
                    <img class="img-responsive center-block" th:src="@{../images/blog-thumb-2.jpg}" alt="bulletin blog">
                </div>
                <div class="col-md-8 col-sm-8 bulletin">
                    <a href="blog-single.html"><h4 class="media-heading">Node js 에서 MongoDB 사용하기</h4>
                    </a>
                    <p>2018-10-15 <a href="#" class="link-reverse">Danny Lee</a></p>

                    <p class="media-content">국가유공자·상이군경 및 전몰군경의 유가족은 법률이 정하는 바에 의하여 우선적으로 근로의 기회를 부여받는다. 대한민국의 주권은 국민에게
                        있고, 모든 권력은 국민으로부터 나온다.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4"></div>
                <div class="col-md-8 col-sm-8 bulletin">
                    <a href="blog-single.html"><h4 class="media-heading">블록체인에 대한 고찰</h4></a>
                    <p>2018-10-15 <a href="#" class="link-reverse">Danny Lee</a></p>
                    <p class="media-content">감사원의 조직·직무범위·감사위원의 자격·감사대상공무원의 범위 기타 필요한 사항은 법률로 정한다.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ///END Board LIST /// -->
<hr>
<!--Board info-->
<div class="container has-margin-bottom">
    <div class="row">
        <div class="col-md-9 has-margin-bottom">
            <div class="section-title left-align-desktop">
                <h4> 게시판 소개 </h4>
            </div>
        </div>

        <div class="row has-margin-bottom">
            <div class="col-md-5 col-sm-5   bulletin">
                <a href="blog-single.html"><h4 class="media-heading te">Dev. Story </h4></a>
                <Br>
                <p class="media-content ">개발 중 어려운 점이 있다면, 언제든지 무엇이든 질문하세요!
                    만약, 원하는 답변을 찾았다면 RHT로 고마움을 표현하세요. </p>
            </div>
            <div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1">
                <img class="img-responsive center-block" src="images/gallery/img_gallery_8.jpg">
            </div>
        </div>
    </div>

    <div class="row has-margin-bottom">
        <div class="col-md-5 col-sm-5">
            <img class="img-responsive center-block" src="images/gallery/img_gallery_8.jpg">
        </div>
        <div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1   bulletin">
            <a href="blog-single.html"><h4 class="media-heading">IT. Story </h4></a>
            <Br>
            <p class="media-content">공유하고싶은 지식과 정보를 작성해보세요.
                또한, 소개하고 싶은 IT 제품에 대한 글을 남겨보세요."</p>
        </div>
    </div>
</div>

<!--///END Board info///-->
<footer th:replace="fragment/footer">
</footer>

<!--init script-->
<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: "http://localhost:8080/board/new",
            dataType: 'json',
            success: function (result) {
                var data = result.data;
                var board_list = data.data;
                var total = data.total;

                for (var i = 0; i < board_list.length; i++) {
                    var seq = board_list[i].BOARD_SEQ;
                    var title = board_list[i].BOARD_TITLE;
                    var content = board_list[i].BOARD_CONTENT;
                    var nick_name = board_list[i].NICK_NAME;
                    var board_type = board_list[i].BOARD_TYPE;
                    var date = board_list[i].BOARD_DATE.substring(0, 10);
                }

            }, error: function () {
                //    TODO : 에러 페이지 제작해야 함
            }
        });
    });
</script>
<!--회원가입 스크립트-->

<script>
    function register() {
        var pw = $('#register_pw').val();
        var check_pw = $('#register_pw_check').val();
        var check = regex_checker(pw, check_pw);
        var register_success = false;

        if (check) {
            var member = {
                "userId": $('#register_email').val(),
                "userPwd": $('#register_pw').val(),
                "nickName": $('#register_nickname').val(),
                "email": $('#register_email').val()
            };

            $.ajax({
                type: 'POST',
                url: "http://localhost:8080/api/membership/signUp",
                async: false,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                /*반드시 JSON 변환을 거쳐서 요청 보낼 것*/
                data: JSON.stringify(member),
                success: function (data) {
                    loginOk = true;
                    /*모달 속성 변경 후 Reload*/
                    $('#register_submit').attr('data-dismiss', 'modal');
                    register_success = true;
                    window.reload();
                    return true;
                }
                ,
                error: function (data) {
                    alert(data.toString());
                    register_success = false;
                    return false;
                }
            });
            return true;
        }
        return register_success;
    };

    /*회원가입 데이터 유효성 검증 */
    var input_checker = function () {
        if ($('#register_email').val().length == 0 || $('#register_email').val() == "") {
            $('#register_email').focus();
            return false;
        }
    };

    var regex_checker = function (pw, check_pw) {

        var regex = /^.*(?=^.{8,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;


        // 암호 길이
        if (pw.length < 8 || pw.length > 16) {
            alert("비빌번호는 8자 이상 15자 이하로 해주세요!");
            return false;
        }

        //암호 형식
        if (!regex.test(pw)) {
            alert("비빌번호는 대소문자와 특수문자를 포함해야 합니다.");
            return false;
        }

        //암호 2번 입력
        if (pw != check_pw) {
            alert("비밀번호가 일치 하지 않습니다.");
            $('#register_pw_check').focus();
            return false;
        }
        alert("성공이다!");
        return true;
    };

</script>


</body>
</html>