<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<!--thymeleaf added-->

<head th:replace="fragment/head">
</head>
<body>

<!--Login  Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="user_login_email">이메일 주소</label>
                        <input type="email" class="form-control" id="user_login_email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="user_login_pw">비밀번호</label>
                        <input type="password" class="form-control" id="user_login_pw" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <!--반드시 a 타입으로 해야 모달이 안 닫힌다.-->
                        <a style="width: 100%;" class="btn btn-primary " id="submitBtn" type="submit"
                           onclick="return login();">
                            Login
                        </a>
                    </div>
                    <div class="form-group">
                        <button style="width: 100%;" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--///END Login Modal///-->

<!--Register  Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="register_email">이메일 주소</label>
                        <input type="email" class="form-control" id="register_email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">중복확인</button>
                    </div>
                    <div class="form-group">
                        <label for="register_nickname">닉네임</label>
                        <input type="text" class="form-control" id="register_nickname" placeholder="닉네임">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">중복확인</button>
                    </div>
                    <div class="form-group">
                        <label for="register_pw">비밀번호</label>
                        <input type="password" class="form-control" id="register_pw" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="register_pw_check">비밀번호 확인</label>
                        <input type="password" class="form-control" id="register_pw_check" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <a style="width: 100%;" class="btn btn-primary " id="register_submit"
                           onclick="return register()">
                            회원가입
                        </a>
                    </div>
                    <div class="form-group">
                        <button style="width: 100%;" class="btn btn-danger" data-dismiss="modal">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--///END Register Modal///-->

<!-- Navigation Bar -->
<navbar th:replace="fragment/navbar"></navbar>
<!--///END Navigation Bar///s-->

<!-- BANNER SLIDER-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item slide-one active">
            <div class="container">
                <img th:src="@{../images/arrows.png}" src="images/arrows.png">
                <div class="carousel-caption">
                    <h2>Hello Developers!</h2>
                    <p class="lead">Right Hand는 개발자들을 위한 공간입니다. <br>최신 기술, IT 제품 리뷰등의 다양한 소식을 놓치지 마세요</p>
                </div>
            </div>
        </div>
        <div class="item slide-two">
            <div class="container">
                <div class="carousel-caption">
                    <h2>의견에 가치를 더하세요</h2>
                    <p class="lead">작성한 모든 글들은 열람한 사람들의 의해 정당한 보상을 받을 수 있습니다.</p>
                </div>
            </div>
        </div>
        <div class="item slide-three">
            <div class="container">
                <div class="carousel-caption">
                    <h2>혼자 고민하지 마세요</h2>
                    <p class="lead">무엇이든 어떤 것이든 질문해보세요!<br>당신이 원하는 해답을 찾을 수 있을겁니다.</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- ///END Banner Slider/// -->
<hr>
<!--/// Board LIST /// -->
<div class="container has-margin-bottom">
    <div class="row">
        <div class="col-md-12 has-margin-bottom">
            <div class="section-title left-align-desktop">
                <h4> 최신글 </h4>
            </div>
            <!--Blog list-->
            <div class="row has-margin-bottom">
                <div class="col-md-4 col-sm-4">
                    <img class="img-responsive center-block" th:src="@{images/blog-thumb-1.jpg}" alt="bulletin blog">
                </div>
                <div class="col-md-8 col-sm-8 bulletin">
                    <a href="blog-single.html"><h4 class="media-heading">java와 javscript의 차이 및 역사 </h4></a>
                    <p>2018-10-15 <a href="#" class="link-reverse">Danny Lee</a></p>
                    <p> 선거에 있어서 최고득표자가 2인 이상인 때에는 국회의 재적의원 과반수가 출석한 공개회의에서 다수표를 얻은 자를 당선자로 한다. 모든 국민은 주거의 자유를 침해받지 아니한다.
                        주거에 대한 압수나 수색을 할 때에는 검사의 신청에 의하여 법관이 발부한 영장을 제시하여야 한다. 대한민국은 통일을 지향하며, 자유민주적 기본질서에 입각한 평화적 통일
                        정책을 수립하고 이를 추진한다. ...</p>
                </div>
            </div>
            <!--Board list-->
            <div class="row has-margin-bottom">
                <div class="col-md-4 col-sm-4">
                    <img class="img-responsive center-block" th:src="@{images/blog-thumb-2.jpg}" alt="bulletin blog">
                </div>
                <div class="col-md-8 col-sm-8 bulletin">
                    <a href="blog-single.html"><h4 class="media-heading">Node js 에서 MongoDB 사용하기</h4>
                    </a>
                    <p>2018-10-15 <a href="#" class="link-reverse">Danny Lee</a></p>

                    <p class="media-content">국가유공자·상이군경 및 전몰군경의 유가족은 법률이 정하는 바에 의하여 우선적으로 근로의 기회를 부여받는다. 대한민국의 주권은 국민에게
                        있고, 모든 권력은 국민으로부터 나온다.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4"></div>
                <div class="col-md-8 col-sm-8 bulletin">
                    <a href="blog-single.html"><h4 class="media-heading">블록체인에 대한 고찰</h4></a>
                    <p>2018-10-15 <a href="#" class="link-reverse">Danny Lee</a></p>
                    <p class="media-content">감사원의 조직·직무범위·감사위원의 자격·감사대상공무원의 범위 기타 필요한 사항은 법률로 정한다.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ///END Board LIST /// -->
<hr>
<!--Board info-->
<div class="container has-margin-bottom">
    <div class="row">
        <div class="col-md-9 has-margin-bottom">
            <div class="section-title left-align-desktop">
                <h4> 게시판 소개 </h4>
            </div>
        </div>

        <div class="row has-margin-bottom">
            <div class="col-md-5 col-sm-5   bulletin">
                <a href="blog-single.html"><h4 class="media-heading te">Dev. Story </h4></a>
                <Br>
                <p class="media-content ">개발 중 어려운 점이 있다면, 언제든지 무엇이든 질문하세요!
                    만약, 원하는 답변을 찾았다면 RHT로 고마움을 표현하세요. </p>
            </div>
            <div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1">
                <img class="img-responsive center-block" src="images/gallery/img_gallery_8.jpg">
            </div>
        </div>
    </div>

    <div class="row has-margin-bottom">
        <div class="col-md-5 col-sm-5">
            <img class="img-responsive center-block" src="images/gallery/img_gallery_8.jpg">
        </div>
        <div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1   bulletin">
            <a href="blog-single.html"><h4 class="media-heading">IT. Story </h4></a>
            <Br>
            <p class="media-content">공유하고싶은 지식과 정보를 작성해보세요.
                또한, 소개하고 싶은 IT 제품에 대한 글을 남겨보세요."</p>
        </div>
    </div>
</div>

<!--///END Board info///-->
<footer th:replace="fragment/footer">
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{../js/jquery.js}"></script>
<script th:src="@{../js/bootstrap.min.js}"></script>
<script th:src="@{../js/owl.carousel.min.js}"></script>
<script th:src="@{../js/ketchup.all.js}"></script>
<script th:src="@{../js/fancybox.js}"></script>
<script th:src="@{../js/script.js}"></script>

<!--Ajax-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--로그인 스크립트-->
<script>
    /*로그인 성공 여부 확인*/
    var loginOk = false;

    /*비동기 로그인 기능*/
    function login() {
        $.ajax({
            type: 'POST',
            url: "http://localhost:8080/api/login",
            async: false,
            data: {
                userId: $('#user_login_email').val(),
                userPwd: $('#user_login_pw').val()
            },
            success: function (data) {
                var jsonData = JSON.parse(data.toString());
                loginOk = true;
                $('#submitBtn').attr('data-dismiss', 'modal');
                location.reload();
                return true;
            },
            error: function () {
                loginOk = false;
                alert("id 또는 password 가 틀렸습니다.");
                return false;
            }
        });
        return loginOk;
    };
</script>


<!--회원가입 스크립트-->
<script>

    function register() {
        var pw = $('#register_pw').val();
        var check_pw = $('#register_pw_check').val();
        var check = regex_checker(pw, check_pw);
        var register_success = false;

        if (check) {
            var member = {
                "userId": $('#register_email').val(),
                "userPwd": $('#register_pw').val(),
                "nickName": $('#register_nickname').val(),
                "email": $('#register_email').val()
            };

            $.ajax({
                type: 'POST',
                url: "http://localhost:8080/api/membership/signUp",
                async: false,
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                /*반드시 JSON 변환을 거쳐서 요청 보낼 것*/
                data: JSON.stringify(member),
                success: function (data) {
                    loginOk = true;
                    /*모달 속성 변경 후 Reload*/
                    $('#register_submit').attr('data-dismiss', 'modal');
                    register_success = true;
                    window.reload();
                    return true;
                }
                ,
                error: function (data) {
                    alert(data.toString());
                    register_success = false;
                    return false;
                }
            });
            return true;
        }
        return register_success;
    };

    /*회원가입 데이터 유효성 검증 */
    var input_checker = function () {
        if ($('#register_email').val().length == 0 || $('#register_email').val() == "") {
            $('#register_email').focus();
            return false;
        }
    };

    var regex_checker = function (pw, check_pw) {

        var regex = /^.*(?=^.{8,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;


        // 암호 길이
        if (pw.length < 8 || pw.length > 16) {
            alert("비빌번호는 8자 이상 15자 이하로 해주세요!");
            return false;
        }

        //암호 형식
        if (!regex.test(pw)) {
            alert("비빌번호는 대소문자와 특수문자를 포함해야 합니다.");
            return false;
        }

        //암호 2번 입력
        if (pw != check_pw) {
            alert("비밀번호가 일치 하지 않습니다.");
            $('#register_pw_check').focus();
            return false;
        }
        alert("성공이다!");
        return true;
    };

</script>


</body>
</html>