<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<!--thymeleaf added-->

<head th:replace="fragment/head">
</head>
<body>
<!--Login  Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="user_login_email">이메일 주소</label>
                        <input type="email" class="form-control" id="user_login_email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="user_login_pw">비밀번호</label>
                        <input type="password" class="form-control" id="user_login_pw" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <!--반드시 a 타입으로 해야 모달이 안 닫힌다.-->
                        <a style="width: 100%;" class="btn btn-primary " id="submitBtn" type="submit"
                           onclick="return login();">
                            Login
                        </a>
                    </div>
                    <div class="form-group">
                        <button style="width: 100%;" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--Register  Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="register_email">이메일 주소</label>
                        <input type="email" class="form-control" id="register_email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">중복확인</button>
                    </div>
                    <div class="form-group">
                        <label for="register_nickname">닉네임</label>
                        <input type="text" class="form-control" id="register_nickname" placeholder="닉네임">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">중복확인</button>
                    </div>
                    <div class="form-group">
                        <label for="register_pw">비밀번호</label>
                        <input type="password" class="form-control" id="register_pw" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="register_pw_check">비밀번호 확인</label>
                        <input type="password" class="form-control" id="register_pw_check" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <a style="width: 100%;" class="btn btn-primary " id="register_submit"
                           onclick="return register()">
                            회원가입
                        </a>
                    </div>
                    <div class="form-group">
                        <button style="width: 100%;" class="btn btn-danger" data-dismiss="modal">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/////// modal-->


<!--Navigation-->
<navbar th:replace="fragment/navbar"></navbar>
<!--///END Navigation///-->

<div class="subpage-head has-margin-bottom">
    <div class="container">
        <h3>Dev. Story</h3>
        <p class="lead">개발 중 어려운 점이 있다면, 언제든지 무엇이든 질문하세요! 만약, 원하는 답변을 찾았다면 RHT로 고마움을 표현하세요.</p>
    </div>
</div>

<!-- // END SUBPAGE HEAD -->

<div class="container">

    <div class="row">
        <div class="col-md-offset-8 col-md-4 blog-search has-margin-bottom">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Search..">
                <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search glyphicon-lg"></i></button>
          </span></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 has-margin-bottom" id="blog_list">
            <!--Blog list-->
        </div>
    </div>

    <!-- PAGINATION -->
    <div class="pull-right">
        <button class="btn btn-info">글작성</button>
    </div>
    <div class="text-center center-block">
        <ul class="pagination">
            <li class="disabled"><a href="#">«</a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
    <!--///END PAGINATION///-->

</div>


<!-- FOOTER -->
<footer th:replace="fragment/footer">
</footer>
<!-- END FOOTER -->

<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{../js/jquery.js}"></script>
<script th:src="@{../js/bootstrap.min.js}"></script>
<script th:src="@{../js/owl.carousel.min.js}"></script>
<script th:src="@{../js/ketchup.all.js}"></script>
<script th:src="@{../js/fancybox.js}"></script>
<script th:src="@{../js/script.js}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        var page = 1;
        $.ajax({
            type: 'GET',
            url: "http://localhost:8080/board/list/tech?page=" + page,
            dataType: 'json',
            success: function (result) {

                var data = result.data;
                var board_list = data.data;

                var total = data.total;
                console.log(total);

                for (var i = 0; i < board_list.length; i++) {

                    var title = board_list[i].BOARD_TITLE;
                    var content = board_list[i].BOARD_CONTENT;
                    var nick_name = board_list[i].NICK_NAME;
                    var date = board_list[i].BOARD_DATE.substring(0, 10);

                    $('#blog_list').append('  <div class="row has-margin-bottom">' +
                        '<div class="col-md-4 col-sm-4">' +
                        '<img class="img-responsive center-block"  alt="bulletin blog"src="http://localhost:8080/images/blog-thumb-1.jpg"> </div>' +
                        '<div class="col-md-8 col-sm-8 bulletin">' +
                        '<a href="blog-single.html"><h4 class="media-heading" id="title">' + title + ' </h4></a>' +
                        '<p>' + date + ' <a href="#" class="link-reverse">' + nick_name + '</a></p>' +
                        '<p>' + content + '</p></div></div>');
                }
            },
            error: function () {
                alert("존재하지 않는 페이지 입니다.");
            }
        });
    });
</script>
</body>
</html>
