<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<!--thymeleaf added-->

<head th:replace="fragment/head">
</head>
<body>
<!--Login  Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="user_login_email">이메일 주소</label>
                        <input type="email" class="form-control" id="user_login_email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="user_login_pw">비밀번호</label>
                        <input type="password" class="form-control" id="user_login_pw" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <!--반드시 a 타입으로 해야 모달이 안 닫힌다.-->
                        <a style="width: 100%;" class="btn btn-primary " id="submitBtn" type="submit"
                           onclick="return login();">
                            Login
                        </a>
                    </div>
                    <div class="form-group">
                        <button style="width: 100%;" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--Register  Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="register_email">이메일 주소</label>
                        <input type="email" class="form-control" id="register_email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">중복확인</button>
                    </div>
                    <div class="form-group">
                        <label for="register_nickname">닉네임</label>
                        <input type="text" class="form-control" id="register_nickname" placeholder="닉네임">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">중복확인</button>
                    </div>
                    <div class="form-group">
                        <label for="register_pw">비밀번호</label>
                        <input type="password" class="form-control" id="register_pw" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="register_pw_check">비밀번호 확인</label>
                        <input type="password" class="form-control" id="register_pw_check" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <a style="width: 100%;" class="btn btn-primary " id="register_submit"
                           onclick="return register()">
                            회원가입
                        </a>
                    </div>
                    <div class="form-group">
                        <button style="width: 100%;" class="btn btn-danger" data-dismiss="modal">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/////// modal-->


<!--Navigation-->
<navbar th:replace="fragment/navbar"></navbar>
<!--///END Navigation///-->

<div class="subpage-head has-margin-bottom">
    <div class="container">
        <h3>Dev. Story</h3>
        <p class="lead">개발 중 어려운 점이 있다면, 언제든지 무엇이든 질문하세요! 만약, 원하는 답변을 찾았다면 RHT로 고마움을 표현하세요.</p>
    </div>
</div>

<!-- // END SUBPAGE HEAD -->

<div class="container">

    <div class="row">
        <div class="col-md-offset-8 col-md-4 blog-search has-margin-bottom">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="Search..">
                <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search glyphicon-lg"></i></button>
          </span></div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 has-margin-bottom" id="blog_list">
            <!--Blog list-->
        </div>
    </div>


    <!-- PAGINATION -->
    <div class="pull-right">
        <a class="btn btn-info">글작성</a>
    </div>
    <div class="text-center center-block">
        <ul class="pagination" id="pageNation">
            <!--pagenation-->
        </ul>
    </div>
    <!--///END PAGINATION///-->

</div>


<!-- FOOTER -->
<footer th:replace="fragment/footer">
</footer>
<!-- END FOOTER -->

<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{../js/jquery.js}"></script>
<script th:src="@{../js/bootstrap.min.js}"></script>
<script th:src="@{../js/owl.carousel.min.js}"></script>
<script th:src="@{../js/ketchup.all.js}"></script>
<script th:src="@{../js/fancybox.js}"></script>
<script th:src="@{../js/script.js}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        var page = 1;
        $.ajax({
            type: 'GET',
            url: "http://localhost:8080/board/list/tech?page=" + page,
            dataType: 'json',
            success: function (result) {

                var data = result.data;
                var board_list = data.data;

                var total = data.total;
                console.log(total);

                for (var i = 0; i < board_list.length; i++) {

                    var title = board_list[i].BOARD_TITLE;
                    var content = board_list[i].BOARD_CONTENT;
                    var nick_name = board_list[i].NICK_NAME;
                    var date = board_list[i].BOARD_DATE.substring(0, 10);

                    $('#blog_list').append('  <div class="row has-margin-bottom">' +
                        '<div class="col-md-4 col-sm-4">' +
                        '<img class="img-responsive center-block"  alt="bulletin blog"src="http://localhost:8080/images/blog-thumb-1.jpg"> </div>' +
                        '<div class="col-md-8 col-sm-8 bulletin">' +
                        '<a href="blog-single.html"><h4 class="media-heading" id="title">' + title + ' </h4></a>' +
                        '<p>' + date + ' <a href="#" class="link-reverse">' + nick_name + '</a></p>' +
                        '<p>' + content + '</p></div></div>');
                }
            },
            error: function () {
                alert("존재하지 않는 페이지 입니다.");
            }
        });
    });
</script>


<!--Board List-->
<script>
    // 현재 페이지 정보
    var page;

    $(document).ready(function () {
        //최초 요청시 게시글 1페이지를 호출한다.
        if (page == null) {
            req_page(1);
        } else {
            req_page(page);
        }
    });

    // 사용자가 원하는 페이지를 요청 번호에 맞춰 반환한다.
    function req_page(requested_page) {
        var board_type = 'tech';
        $.ajax({
            type: 'GET',
            url: "http://localhost:8080/board/list/" + board_type + "?page=" + requested_page,
            dataType: 'json',
            success: function (result) {

                // 게시판 리스트를 초기화 한다..
                $('#blog_list').empty();

                var data = result.data;
                var board_list = data.data;
                var total = data.total;

                // 페이지 리스트를 초기화 한다.
                $('#pageNation').empty();
                set_page(total, requested_page);

                for (var i = 0; i < board_list.length; i++) {

                    var title = board_list[i].BOARD_TITLE;
                    var content = board_list[i].BOARD_CONTENT;
                    var nick_name = board_list[i].NICK_NAME;
                    var date = board_list[i].BOARD_DATE.substring(0, 10);

                    $('#blog_list').append('  <div class="row has-margin-bottom">' +
                        '<div class="col-md-4 col-sm-4">' +
                        '<img class="img-responsive center-block"  th:src="@{../images/blog-thumb-1.jpg}" alt="bulletin blog"src="images/blog-thumb-1.jpg"> </div>' +
                        '<div class="col-md-8 col-sm-8 bulletin">' +
                        '<a href="blog-single.html"><h4 class="media-heading" id="title">' + title + ' </h4></a>' +
                        '<p>' + date + ' <a href="#" class="link-reverse">' + nick_name + '</a></p>' +
                        '<p>' + content + '</p></div></div>');
                }
                window.scrollTo(0, 0);
            },
            error: function () {
                //TODO 에러 페이지 제작 해야 함
                alert("존재하지 않는 페이지 입니다.");
            }
        });
    }
</script>

<!--PageNation-->
<script>
    function set_page(total, requested_page) {
        /*
        *   totalpage= 전체 페이지 개수
        *   전체 데이터가 41 개 라면, 가능한 페이지는 9
        *   전체 데이터가 40 개 라면, 가능한 페이지는 8 이다.
        *   stand를 수정하면 페이지 개수 수정이 가능하다.
        * */
        var stand = 5;
        var totalPage = (total % 5 == 0) ? (total / 5) : (parseInt(total / 5) + 1);
        var startNum = parseInt((requested_page - 1) / stand) * stand + 1;
        var endNum;
        if (startNum + (stand - 1) >= totalPage) {
            endNum = totalPage;
        } else {
            endNum = startNum + (stand - 1);
        }


        var prevArrow = ' <li id="prevArrow" ><a href="#" id="prevArrowAnc">«</a></li> ';
        var nextArrow = ' <li id="nextArrow" ><a href="#" id="nextArrowAnc">»</a></li>';
        var li_tag = "";

        for (var i = startNum; i <= endNum; i++) {
            //요청 페이지와 현재 페이지가 같다면 'active' 클래스를 입력한다.
            if (i == requested_page) {
                li_tag = li_tag + "<li class='active'><a >" + i + "</a></li>";
            } else {
                li_tag = li_tag + "<li><a onclick= 'req_page(" + i + ")'>" + i + "</a></li>";
            }
        }

        $('#pageNation').append(prevArrow + li_tag + nextArrow);


        //5 이하일 경우 prev 버튼 클릭 금지
        if (endNum <= stand) {
            $('#prevArrow').attr('class', 'disabled');
        } else {
            //5 이상일 경우 이전 버튼 활성화
            var prevCount = startNum - stand;
            $('#prevArrow').attr('onclick', 'req_page(' + prevCount + ')');
        }

        // 마지막 페이지와 전체 페이지가 같으면 다음 버튼 비활성화
        if (endNum == totalPage) {
            $('#nextArrow').attr('class', 'disabled');
        } else {
            // 다음 버트 활성화
            var nextCount = startNum + stand;
            $('#nextArrow').attr('onclick', 'req_page(' + nextCount + ')');
        }


    }
</script>


</body>
</html>
