<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<!--thymeleaf added-->

<head th:replace="fragment/head">
</head>
<body>
<navbar th:replace="fragment/navbar"></navbar>

<!--SUBPAGE HEAD-->
<div class="subpage-head has-margin-bottom">
    <div class="container">
        <h3 id="board_title">Dev. Story</h3>
        <p class="lead" id="board_info">개발 중 어려운 점이 있다면, 언제든지 무엇이든 질문하세요! 만약, 원하는 답변을 찾았다면 RHT로 고마움을 표현하세요.</p>
    </div>
</div>
<!-- // END SUBPAGE HEAD -->

<div class="container" style="height: 100%">
    <div class="row">
        <div class="col-md-12 has-margin-bottom" id="blog_list">
            <!--Blog list-->
        </div>
    </div>


    <!-- PAGINATION -->
    <div class="pull-right">
        <a class="btn btn-info">글작성</a>
    </div>
    <div class="text-center center-block">
        <ul class="pagination" id="pageNation">
            <!--pagenation-->
        </ul>
    </div>
    <!--///END PAGINATION///-->
</div>


<footer th:replace="fragment/footer"></footer>


<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{../js/jquery.js}"></script>
<script th:src="@{../js/bootstrap.min.js}"></script>
<script th:src="@{../js/owl.carousel.min.js}"></script>
<script th:src="@{../js/ketchup.all.js}"></script>
<script th:src="@{../js/fancybox.js}"></script>
<script th:src="@{../js/script.js}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>

    // 요청 주소 뒤에 get 파라미터를 매핑한다.
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    // 기본은 dev 게시판
    var type = getParameterByName('type') != null ? getParameterByName('type') : 'dev';

    // 현재 페이지 정보
    var page = getParameterByName('page');

    // 검색 키워드
    var keyword = getParameterByName('searchedWord');

    $(document).ready(function () {

        var board_title;
        var board_info;

        switch (type) {
            case 'dev':
                $('#dev_story_nav').attr('class', 'active');
                board_title = "Dev. Story";
                board_info = "개발 중 어려운 점이 있다면, 언제든지 무엇이든 질문하세요! 만약, 원하는 답변을 찾았다면 RHT로 고마움을 표현하세요.";
                break;
            case 'tech':
                $('#it_story_nav').attr('class', 'active');
                board_title = "IT. Story";
                board_info = "공유하고싶은 지식과 정보를 작성해보세요. 또한, 소개하고 싶은 IT 제품에 대한 글을 남겨보세요.";
                break;
        }

        $('#board_info').text(board_title);
        $('#board_info').text(board_info);

        search_result();

    });

    function search_result() {
        $.ajax({
            type: 'GET',
            url: "http://localhost:8080/board/list/searched/" + type + "?searchedWord=" + keyword + "&page=" + page,
            dataType: 'json',
            success: function (result) {


                // 게시판 리스트를 초기화 한다..
                $('#blog_list').empty();

                var data = result.data;
                var board_list = data.data;
                var total = data.total;

                // 페이지 리스트를 초기화 한다.
                $('#pageNation').empty();
                set_page(total, page);


                for (var i = 0; i < board_list.length; i++) {

                    var seq = board_list[i].BOARD_SEQ;
                    var title = board_list[i].BOARD_TITLE;
                    var content = board_list[i].BOARD_CONTENT;
                    var nick_name = board_list[i].NICK_NAME;
                    var date = board_list[i].BOARD_DATE.substring(0, 10);

                    $('#blog_list').append('  <div class="row has-margin-bottom">' +
                        '<div class="col-md-4 col-sm-4">' +
                        '<img class="img-responsive center-block"  th:src="@{../images/blog-thumb-1.jpg}" alt="bulletin blog"src="images/blog-thumb-1.jpg"> </div>' +
                        '<div class="col-md-8 col-sm-8 bulletin">' +
                        '<a href="blog-single.html"><h4 class="media-heading" id="title">' + seq + ' </h4></a>' +
                        '<p>' + date + ' <a href="#" class="link-reverse">' + nick_name + '</a></p>' +
                        '<p>' + content + '</p></div></div>');
                }
                window.scrollTo(0, 0);
            }, error: function () {
                //    TODO : 에러 페이지 제작해야 함
            }
        });
    }

    function set_page(total, requested_page) {
        /*
        *   totalpage= 전체 페이지 개수
        *   전체 데이터가 41 개 라면, 가능한 페이지는 9
        *   전체 데이터가 40 개 라면, 가능한 페이지는 8 이다.
        *   stand를 수정하면 페이지 개수 수정이 가능하다.
        * */
        var stand = 5;
        var totalPage = (total % 5 == 0) ? (total / 5) : (parseInt(total / 5) + 1);
        var startNum = parseInt((requested_page - 1) / stand) * stand + 1;
        var endNum;
        if (startNum + (stand - 1) >= totalPage) {
            endNum = totalPage;
        } else {
            endNum = startNum + (stand - 1);
        }


        var prevArrow = ' <li id="prevArrow" ><a href="#" id="prevArrowAnc">«</a></li> ';
        var nextArrow = ' <li id="nextArrow" ><a href="#" id="nextArrowAnc">»</a></li>';
        var li_tag = "";

        for (var i = startNum; i <= endNum; i++) {
            //요청 페이지와 현재 페이지가 같다면 'active' 클래스를 입력한다.
            if (i == requested_page) {
                li_tag = li_tag + "<li class='active'><a >" + i + "</a></li>";
            } else {
                li_tag = li_tag + "<li><a href='/board/search?type=" + type + "&page=" + i + "&searchedWord=" + keyword + "'>" + i + "</a></li>";
                // li_tag = li_tag + "<li><a onclick= 'req_page(" + i + ")'>" + i + "</a></li>";
            }
        }

        $('#pageNation').append(prevArrow + li_tag + nextArrow);


        //5 이하일 경우 prev 버튼 클릭 금지
        if (endNum <= stand) {
            $('#prevArrow').attr('class', 'disabled');
        } else {
            //5 이상일 경우 이전 버튼 활성화
            var prevCount = startNum - stand;
            $('#prevArrowAnc').attr('onclick', 'req_page(' + prevCount + ')');
        }

        // 마지막 페이지와 전체 페이지가 같으면 다음 버튼 비활성화
        if (endNum == totalPage) {
            $('#nextArrow').attr('class', 'disabled');
        } else {
            // 다음 버튼 활성화
            var nextCount = startNum + stand;
            $('#nextArrowAnc').attr('href', '/board/list?type=' + type + '&page=' + nextCount + "&searchedWord" + keyword);
        }

    }

</script>
</body>
</html>