<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<!--thymeleaf added-->
<head>
    <init th:replace="fragment/head"/>
    <title>Hoi</title>
</head>
<!-- Navigation Bar -->
<navbar th:replace="fragment/navbar"/>
<body>

<!--SUBPAGE HEAD-->
<div class="subpage-head has-margin-bottom">
    <div class="container">
        <h3 id="board_title">MyPage</h3>
        <span id="board_date"></span>회원정보<a href="#" class="link-reverse" id="nick_name"></a>
    </div>
</div>
<!-- // END SUBPAGE HEAD -->

<div class="container">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-lg-offset-2 col-sm-offset-2 col-md-offset-2 col-xs-offset-2">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="lead pull-left">아이디</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <span class="pull-left">hello</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="lead pull-left">아이디</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <span class="pull-left">hello</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="lead pull-left">아이디</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <span class="pull-left">hello</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="lead pull-left">아이디</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <span class="pull-left">hello</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="lead pull-left">아이디</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <span class="pull-left">hello</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="lead pull-left">아이디</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <span class="pull-left">hello</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <p class="lead pull-left">아이디</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <span class="pull-left">hello</span>
                </div>
            </div>
        </div>
    </div>
</div>


<!--///END Board info///-->
<footer th:replace="fragment/footer"/>
<script th:replace="fragment/commonScript"/>
</body>
</html>