<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<!--thymeleaf added-->
<head>
    <init th:replace="fragment/head"/>
    <title>Hoi</title>
</head>
<!-- Navigation Bar -->
<body>

<!--Register Modal-->
<RegisterModal th:replace="fragment/registerModal"/>
<!--LoginModal-->
<LoginModal th:replace="fragment/loginModal"/>
<!-- Navigation Bar -->
<NavigationBar th:replace="fragment/navbar"/>


<!--SUBPAGE HEAD-->
<div class="subpage-head has-margin-bottom">
    <div class="container">
        <h3 id="board_title">MyPage</h3>
        <span id="board_date"></span>회원정보 수정<a href="#" class="link-reverse" id="nick_name"></a>
    </div>
</div>
<!-- // END SUBPAGE HEAD -->

<div class="container has-margin-bottom has-margin-top" style="height: 500px" id="user_info_list">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">암호를 입력해주세요</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <input type="password" class="form-control"/>
                        <button class="btn btn-primary btn-sm pull-right">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--///END Board info///-->
<footer th:replace="fragment/footer"/>
<script th:replace="fragment/commonScript"/>

<script>

    $(document).ready(function () {
        var req = getParameterByName('userdata');
        $('#myPage').attr('class', 'active');
        get_user_info();
    });

    function get_user_info() {
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/profile",
            dataType: 'json',
            success: function (result) {

                if (result.code == 0) {
                    var data = result.data;
                    var gender = data.gender;
                    var birthYear = data.birthYear;
                    var nickName = data.nickname;
                    var tel = data.tel;
                    var userName = data.userName;
                    var userId = data.userId;

                    $('#user_gender').text(gender);
                    $('#user_birth').text(birthYear);
                    $('#user_name').text(userName);
                    $('#user_nickname').text(nickName);
                    $('#user_id').text(userId);
                    $('#user_tel').text(tel);
                } else {
                    alert("로그인을 해주세요");
                    location.href = "/";
                }

            }, error: function () {

            }
        });
    }


</script>
</body>
</html>