<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<!--thymeleaf added-->
<head>
    <init th:replace="fragment/head"/>
    <title>Hoi</title>
</head>
<!-- Navigation Bar -->
<navbar th:replace="fragment/navbar"/>
<body>

<!--SUBPAGE HEAD-->
<div class="subpage-head has-margin-bottom">
    <div class="container">
        <h3 id="board_title">MyPage</h3>
        <span id="board_date"></span>회원정보<a href="#" class="link-reverse" id="nick_name"></a>
    </div>
</div>
<!-- // END SUBPAGE HEAD -->

<div class="container has-margin-bottom has-margin-top" style="height: 500px" id="user_info_list">

</div>


<!--///END Board info///-->
<footer th:replace="fragment/footer"/>
<script th:replace="fragment/commonScript"/>

<script>


    $(document).ready(function () {
        var req = getParameterByName('userdata');
        $('#myPage').attr('class', 'active');
        if (req === 'edit') {
            $('#user_info_list').append('    <div class="row">\n' +
                '        <div class="col-sm-4 col-sm-offset-4">\n' +
                '            <div class="panel panel-default">\n' +
                '                <div class="panel-heading">\n' +
                '                    <h3 class="panel-title">암호를 입력해주세요</h3>\n' +
                '                </div>\n' +
                '                <div class="panel-body">\n' +
                '                    <div class="form-group">\n' +
                '                        <input type="password" class="form-control" id="userPwd"/><br/>\n' +
                '                        <button class="btn btn-primary btn-sm pull-right" onclick="check_pw_dup()">확인</button>\n' +
                '                    </div>\n' +
                '                </div>\n' +
                '            </div>\n' +
                '        </div>\n' +
                '    </div>')
        } else {
            $('#user_info_list').append(' <div class="row">\n' +
                '        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 has-margin-top">\n' +
                '            <img data-src="holder.js/200x200" class="img-rounded" alt="200x200"\n' +
                '                 src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEwMCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEzcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjAweDIwMDwvdGV4dD48L3N2Zz4="\n' +
                '                 style="width: 200px; height: 200px;">\n' +
                '        </div>\n' +
                '        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">\n' +
                '            <table class="table">\n' +
                '                <thead>\n' +
                '                <th>항목</th>\n' +
                '                <th>내용</th>\n' +
                '                </thead>\n' +
                '                <tbody>\n' +
                '                <tr>\n' +
                '                    <td>아이디</td>\n' +
                '                    <td><span class="pull-left" id="user_id"></span></td>\n' +
                '                </tr>\n' +
                '                <tr>\n' +
                '                    <td>이름</td>\n' +
                '                    <td><span class="pull-left" id="user_name"></span></td>\n' +
                '                </tr>\n' +
                '                <tr>\n' +
                '                    <td>닉네임</td>\n' +
                '                    <td><span class="pull-left" id="user_nickname"></span></td>\n' +
                '                </tr>\n' +
                '                <tr>\n' +
                '                    <td>성별</td>\n' +
                '                    <td><span class="pull-left" id="user_gender"></span></td>\n' +
                '                </tr>\n' +
                '                <tr>\n' +
                '                    <td>전화번호</td>\n' +
                '                    <td><span class="pull-left" id="user_tel"></span></td>\n' +
                '                </tr>\n' +
                '                <tr>\n' +
                '                    <td>출생년도</td>\n' +
                '                    <td><span class="pull-left" id="user_birth"></span></td>\n' +
                '                </tr>\n' +
                '                </tbody>\n' +
                '            </table>\n' +
                '        </div>\n' +
                '    </div>');
            get_user_info();
        }
    });

    function get_user_info() {
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/profile",
            dataType: 'json',
            success: function (result) {

                if (result.code == 0) {
                    var data = result.data;
                    var gender = data.gender;
                    var birthYear = data.birthYear;
                    var nickName = data.nickname;
                    var tel = data.tel;
                    var userName = data.userName;
                    var userId = data.userId;

                    $('#user_gender').text(gender);
                    $('#user_birth').text(birthYear);
                    $('#user_name').text(userName);
                    $('#user_nickname').text(nickName);
                    $('#user_id').text(userId);
                    $('#user_tel').text(tel);
                } else {
                    alert("로그인을 해주세요");
                    location.href = "/";
                }

            }, error: function () {

            }
        });
    }

    function check_pw_dup() {

        var userPwd = $('#userPwd').val();
        var data = {"userPwd": userPwd};

        $.ajax({
            type: 'POST',
            url: "/api/membership/check/pwd/dup",
            async: false,
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            /*반드시 JSON 변환을 거쳐서 요청 보낼 것*/
            data: JSON.stringify(data),
            success: function (data) {
                if (data.code === 0) {
                    user_info_edit_form();
                } else {
                    alert("암호를 다시 확인해주세요");
                }
            }, error: function (data) {
            }
        });
    }

    function user_info_edit_form() {
        $('#user_info_list').empty();

        $('#user_info_list').append(' <div class="row">\n' +
            '        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 has-margin-top">\n' +
            '            <img data-src="holder.js/200x200" class="img-rounded" alt="200x200"\n' +
            '                 src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEwMCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEzcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjAweDIwMDwvdGV4dD48L3N2Zz4="\n' +
            '                 style="width: 200px; height: 200px;">\n' +
            '        </div>\n' +
            '        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">\n' +
            '            <table class="table">\n' +
            '                <thead>\n' +
            '                <th>항목</th>\n' +
            '                <th>내용</th>\n' +
            '                </thead>\n' +
            '                <tbody>\n' +
            '                <tr>\n' +
            '                    <td>아이디</td>\n' +
            '                    <td><span class="pull-left" id="user_id"></span></td>\n' +
            '                </tr>\n' +
            '                <tr>\n' +
            '                    <td>이름</td>\n' +
            '                    <td><span class="pull-left" id="user_name"></span></td>\n' +
            '                </tr>\n' +
            '                <tr>\n' +
            '                    <td style="vertical-align: middle">닉네임</td>\n' +
            '                    <td><input class="pull-left form-control input-sm" id="user_nickname"/></td>\n' +
            '                </tr>\n' +
            '                <tr>\n' +
            '                    <td>성별</td>\n' +
            '                    <td><span class="pull-left" id="user_gender"></span></td>\n' +
            '                </tr>\n' +
            '                <tr>\n' +
            '                    <td style="vertical-align: middle">전화번호</td>\n' +
            '                    <td><input class="pull-left form-control input-sm" id="user_tel"/></td>\n' +
            '                </tr>\n' +
            '                <tr>\n' +
            '                    <td>출생년도</td>\n' +
            '                    <td><span class="pull-left" id="user_birth"></span></td>\n' +
            '                </tr>\n' +
            '                </tbody>\n' +
            '            </table>\n' +
            '        </div>\n' +
            '    </div><button class="btn btn-sm btn-primary pull-right">수정하기</button><br>' +
            '<hr>');
        /*TODO: 비밀번호 변경 페이지 따로 제작해야 함*/
        $.ajax({
            type: "GET",
            url: "http://localhost:8080/profile",
            dataType: 'json',
            success: function (result) {

                if (result.code == 0) {
                    var data = result.data;
                    var gender = data.gender;
                    var birthYear = data.birthYear;
                    var nickName = data.nickname;
                    var tel = data.tel;
                    var userName = data.userName;
                    var userId = data.userId;

                    $('#user_gender').text(gender);
                    $('#user_birth').text(birthYear);
                    $('#user_name').text(userName);
                    $('#user_nickname').val(nickName);
                    $('#user_id').text(userId);
                    $('#user_tel').val(tel);
                } else {
                    alert("로그인을 해주세요");
                    location.href = "/";
                }

            }, error: function () {

            }
        });
    }

</script>
</body>
</html>